<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NahuatlAPI</title>
</head>
<body>
<h1>Hola! bienvenido al API de diccionario Nahuatl!</h1>
<p>Hecho por ESuances</p>
<p>En este caso, para obtener la palabra que quieres saber su definicion, utiliza la url de esta manera: http://127.0.0.1:5000/api/v1/palabra</p>
<p>Un ejemplo para usar esta API, es : http://127.0.0.1:5000/api/v1/Tlacatl</p>
<p>Obviamente esta no esta completa y no incluye todas las palabras, pero, de cualquier forma, sirve para algunas y chance despues lo actualice</p>
</body>
</html>